/* Page styles
=========================*/

* {
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}
body {
  font: normal 1.1em/1.5 sans-serif;
  color: #222;
  background-color: #edeff0;
}
*/ Column Layout
=============================*/
.col {
  float: left;
  width: 30%;
}
.Color 1 {
 width: 40%;
}
.Color 2 {
 width: 40%;
}
.Color 3 {
 width: 40%;
}

.col:last:child {
  float: right;
}
*/Imagery
======================*/
.feat-img {
  width: 50%;
  float: left;
  margin-right: 25px;
}


